<div class="well">
  <%= form_for @post do |f| %>
    <%= f.label :title %>
      <%= f.text_field :title %>
      <br/>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <br/>
      <%= f.label :description %>
      <%= f.text_area :description%>
      <br/>
      <%= f.label "Categories" %>
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |cat|%>
        <%=cat.label(class: 'checkbox inline') {cat.check_box() + cat.text } %>
      <%end%>
      <br/>
      <br/>
      <% if posting == true %>
        <%= f.submit "Post!", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Update!", class: "btn btn-primary" %>
      <% end %>
  <% end %>
</div>