<div class="well">
  <%= form_for @post do |f| %>
    <%= f.label :title %>
      <%= f.text_field :title %>
      <br/>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <br/>
      <%= f.label :description %>
      <%= f.text_area :description%>
      <br/>
      <p><strong>Temporary</strong></p>
      <%= f.label :user_id %>
      <%= f.number_field :user_id%>
      <br/>
      <%= f.label "Categories" %>
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |cat|%>
        <%=cat.label(class: 'checkbox inline') {cat.check_box() + cat.text } %>
      <%end%>
      <br/>
      <br/>
      <%= f.submit "Post!", class: "btn btn-primary" %>
  <% end %>
</div>