<!-- Remember that this is the render property in rail that
iteraters through all the post.categories and applies the _category style to it-->
<%= render 'shared/categories', obj: @post.categories %> 
<!-- Renders the Shared/title and pass in the value @post.title to be replace
in the variable title -->
<% if logged_in? %>
  <p class="pull-right">[<%= link_to "Edit Post", edit_post_path(@post) %>]</p>
<%end%>
<%=render 'shared/title', title: @post.title  %>

<p><%= @post.description%></p>
<hr/>

<%= render 'shared/errors', obj: @comment %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body  %>
    <%= f.text_area :body, :required => true %>
    <br/>
    <%= f.submit "Post Comment", class: "btn btn-primary" %>
  <% end %>
  <hr></hr>
<% end %>

<h3><%= @post.comments.size%> Comments</h3>
<hr/>

<%= render 'shared/comments', obj: @post.comments, display_source: false %>

