<%= render 'shared/errors', obj: @category %>

<h3>Would you like to create a new Category?</h2>

<div class="well">
  <%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit "Create category", class: 'btn btn-primary' %>
  <%end%>
</div>